.categorias {
  margin-top: 350px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.categorias img {
  width: 100%;
}

.title {
  position: absolute;
  top: 4.5rem;
  color: white;
  text-align: center;
  /* font-family: Gotham; */
  font-size: 35px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.grid-categorias {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 2rem;
  position: absolute;
  top: 241px;
}

.grid-categorias p {
  color: var(--amarelo);
  text-transform: uppercase;
  text-align: center;
  /* font-family: Gotham; */
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.categoria {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  align-items: center;
  justify-content: flex-end;
}

.categoria div {
  width: 263px;
  height: 258px;
  background-color: var(--amarelo);
  border-radius: 70px;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.categoria:nth-child(1) img {
  width: 122px;
}

.categoria:nth-child(6) img {
  width: 93px;
}

.categoria img {
  max-width: 200px;
  max-height: 200px;
}
