.categorias {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.categorias-img {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
}

.title {
  position: absolute;
  top: 4.5rem;
  color: white;
  text-align: center;
  /* font-family: Gotham; */
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.grid-categorias {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-row-gap: 1.875rem;
  padding-block: 3rem;
  margin-top: -17rem;
}

.grid-categorias p {
  color: var(--amarelo);
  text-transform: uppercase;
  text-align: center;
  /* font-family: Gotham; */
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.categoria {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  align-items: center;
  justify-content: flex-end;
}

.categoria div {
  width: 16rem;
  height: 16em;
  background-color: var(--amarelo);
  border-radius: 70px;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.categoria:nth-child(1) img {
  width: 55%;
}

.categoria:nth-child(6) img {
  width: 42%;
}

.categoria img {
  max-width: 200px;
  max-height: 200px;
}

@media (max-width: 48em) {
  .categorias {
    margin-top: 0;
    padding: 1rem 0;
    background-color: var(--azul-escuro);
    position: initial;
  }

  .img-categorias {
    display: none;
  }
  .title {
    position: initial;
    margin: 1rem 0;
  }

  .grid-categorias {
    width: 70%;
    grid-template-columns: 1fr;
    /* position: initial; */
    margin: 0;
  }
}
