.header {
  background-color: white;
  display: flex;
  height: 5rem;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 145px;
  height: 51px;
}

.nav {
  background-color: var(--amarelo);
  border-radius: 150px 0px 0px 150px;
  width: 58%;
  height: 100%;
}

.menu {
  display: flex;
  gap: 2rem;
  align-items: center;
  height: 100%;
  padding: 0 9.875rem;
}

.menu li {
  cursor: pointer;
  color: var(--azul-escuro);
}

.categoria {
  display: flex;
  align-items: center;
}

.categoria span {
  display: flex;
  align-items: center;
}

.categoria span img {
  width: 16px;
  margin: 3px;
}

.contato {
  color: white !important;
  background-color: var(--azul-escuro);
  padding: 0.9rem 2rem;
  border-radius: 10px;
  font-weight: 700;
}

.categorias {
  background-image: url('/images/categorias/categorias.svg');
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  width: 400px;
  height: 767px;
  margin-left: 70px;
  z-index: 7;
  padding: 2rem;
}

.categorias a {
  display: flex;
  width: 90%;
  align-items: center;
  text-decoration: none;
  color: var(--azul-escuro);
}

.categorias a div {
  width: 4.25rem;
  height: 4.25rem;
  padding: 0.5rem;
  background-color: var(--amarelo);
  border-radius: 15px;
  margin-right: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.categorias a div img {
  width: auto;
  max-height: 54px;
}

.hidden {
  display: none;
}

.menu-mobile {
  display: none;
}

.menu-mobile svg {
  color: var(--azul-escuro);
}

/* Estilos para telas menores que 768px */
@media (max-width: 767px) {
  .detalhe-header {
    display: none;
  }
  .logo {
    width: 8em;
    height: auto;
    margin: auto;
  }

  .nav {
    width: 8em;
  }

  .menu {
    display: none;
  }

  .menu-mobile {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }

  .menu-mobile button {
    background-color: transparent;
    border: none;
    cursor: pointer;
  }

  .menu-mobile svg {
    font-size: 2rem;
  }
}

/* Estilos para telas entre 768px e 1023px */
@media (min-width: 768px) and (max-width: 1023px) {
  /* Estilos aqui */
}
