.sobre {
  background-color: #f7f7f7;
  height: 775px;
  margin-top: 31rem;
  position: relative;
}

.sobre img {
  position: absolute;
  top: 60px;
}

.sobre h1 {
  color: var(--azul-escuro);
  text-align: center;
  /* font-family: Gotham; */
  font-size: 35px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  position: absolute;
  top: 98px;
  width: 501px;
  left: 725px;
}

.texto-sobre {
  position: absolute;
  width: 600px;
  top: 240px;
  left: 61rem;
  color: #333;
  /* font-family: Gotham; */
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 38px; /* 211.111% */
  letter-spacing: -0.54px;
}

.texto-sobre button {
  width: 360px;
  height: 63px;
  border-radius: 15px;
  background-color: var(--azul-escuro);
  border: none;
  color: white;
  text-align: center;
  /* font-family: Gotham; */
  text-transform: uppercase;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 38px; /* 211.111% */
  margin-top: 1.5rem;
}
